{{ define "top-bar-right" }}
{{ partial "share.html" $ }}
{{ end }}
{{ define "title-bar-right" }}
{{ partial "share.html" $ }}
{{ end }}
{{ define "whatisthis" }}
{{ partial "whatisthis.html" . }}
{{ end }}
{{ define "main" }}

<div class="content">
    <article class="article" itemscope itemtype="http://schema.org/Article">
      <h1 itemprop="name" class="pagetitle">{{ .Title }}</h1>
      <div class="post-body" itemprop="articleBody">
        {{ .Content }}
      </div>

      <meta itemprop="wordCount" content="{{ .WordCount }}">
      <meta itemprop="datePublished" content="{{ .Date.Format "2006-01-02" }}">
      <meta itemprop="url" content="{{ .Permalink }}">
    </article>
</div>

{{ end }}
